<h1 class="text-center my-5">Login de usuarios</h1>
<div class="row justify-content-center">
    <div class="col-md-6">
        <form action="/auth/login" method="POST">
            <input type="hidden" name="_csrf" value="{{csrfToken}}" />
            <input type="text" name="email" class="form-control mb-2" placeholder="Ingrese email">
            <input type="password" name="password" class="form-control mb-2" placeholder="Ingrese contraseña">
            <button type="submit" class="btn btn-primary">Logear usuario</button>
        </form>
    </div>
</div>