<h1 class="text-center">{{user.userName}}</h1>
<p class="text-center">Edita aquí tu perfil</p>
<div class="mb-5 text-center">

    {{#if imagen}}
        <img src="/img/perfil/{{imagen}}" alt="" class="rounded-circle">
        {{else}}
        <img src="/img/perfil/defecto.jpg" alt="" class="rounded-circle">
    {{/if}}
    
</div>

<form action="/perfil?_csrf={{csrfToken}}" method="POST" enctype="multipart/form-data" >
    <input type="file" class="form-control form-control-sm my-3" id="formFileSm" name="myFile">
    <button class="btn btn-dark my-3 ">Cambiar imagen de perfil</button>
</form>